{% extends 'todoapp/index.html' %}

{% block content %}
<div class="wrapper">
<p class = 'contacts'> How you can connect with me:<a href='https://mail.google.com/mail/u/0/#inbox?compose='>internprogr97@gmail.com</a></p>
<p class = 'contacts'>My github account: <a href='https:/github.com/MaxNickol'>https:/github.com/MaxNickol</a></p>
<pre class = 'contacts'>My social networks: 
<a href="https://www.instagram.com/alexandrovm11/">https://www.instagram.com/alexandrovm11/</a>
<a href="https://vk.com/alexandrovm7">https://vk.com/alexandrovm7</a>
</pre>
</div>
{% endblock %}